@model IEnumerable<Restaurant_Manager_4.Models.mon_an>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="amado-pro-catagory clearfix">
    @foreach (var item in Model) {
    <div class="single-products-catagory clearfix">
        <a href="shop.html">
            <img src="@item.hinh_anh" alt="">
            <div class="hover-content">
                <div class="line"></div>
                <p>From @item.gia</p>
                <h4>@item.ten_mon_an</h4>
            </div>
        </a>
    </div>
    }
</div>
